[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweaker3 = {editable = true, git = "https://github.com/ChristophSchranz/Tweaker-3.git"}
numpy-stl = "*"
requests = "*"
platformdirs = "*"
mslex = {version = "*", markers = "sys_platform == 'win32'"}
prompt_toolkit = "*"
prompt-toolkit = "*"
vtkplotlib = "*"
pillow = "*"
google-generativeai = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.13"
