[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweaker3 = {editable = true, git = "https://github.com/ChristophSchranz/Tweaker-3.git"}
numpy-stl = "*"
requests = "*"
platformdirs = "*"
winshell = {version = "*", markers = "sys_platform == 'win32'"}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
